.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    margin-top: 150px;
    width: 80%;
    height: max-content;
    background-color: var(--link-color-hover);
    padding: 40px;
    border-radius: 20px;
    text-align: center;

    input,
    select {
        max-width: 300px;
    }
}