<div class="container">
    <section class="search">
        <h2>Compra o arrienda inmuebles</h2>
        <select>
            <option value="0">Tipo de busqueda</option>
            <option value="1">Compra</option>
            <option value="2">Arriendo</option>
        </select>
        <select>
            <option value="0">Tipo de inmueble</option>
            <option value="1">Apartamento</option>
            <option value="2">Casa</option>
            <option value="3">Apartaestudio</option>
        </select>
        <input type="text" placeholder="Ciudad o Departamento">
        <button>Buscar</button>
    </section>
</div>