.page-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(86, 86, 153) 35%, rgb(29, 111, 128) 100%);
}

.footer {
    background-color: var(--app-container);
    margin-top: auto;
    height: 60px;
}