.card {
    border: 2px solid var(--main-color);
    margin-top: 10px;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--app-container);

    div {
        flex-grow: 1;
        flex-basis: 100;
    }

    img {
        height: 300px;
        width: 300px;
        border-radius: 20px;
        margin: 10px;
    }
}

.regions {
    display: grid;

    .region {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        background-color: var(--app-container);
        margin: 2px;
        padding: 2px;
        border: 1px solid var(--main-color);
        border-radius: 6px;
        cursor: pointer;
    }
}