.user {
    width: 100%;
    text-align: center;
}

.options {
    display: flex;
    justify-content: center;

    div {
        border-radius: 20px;
        background-color: var(--accentShade);
        margin: 2%;
        padding: 30px;
        max-width: 600px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        border: 3px solid var(--accentColor);
        transition: .2s;

        &:hover {
            transform: scale(1.1, 1.1);
        }
    }
}