.navbar {
    background-color: var(--app-container);
    display: flex;
    flex-wrap: wrap;
    color: var(--main-color);
}

.home {
    margin-right: 10px;
    cursor: pointer;
}

div,
a {
    flex-grow: 1;
    flex-basis: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: var(--main-color);
}

h1 {
    color: var(--main-color);
}

a {
    &:hover {
        background-color: var(--link-color-hover);
        color: var(--link-color-active);
    }

    &.active {
        background-color: var(--primaryShade);
        color: var(--link-color-active);
    }
}